{{ define "main" }}

<!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
      <div class="Modern-Slider">
        <!-- Item -->
        {{ range where .Site.Pages "Type" "slider"  }}
        <div class="item item-1">
          <div class="img-fill">
              <div class="text-content">
                <h6>{{ .Params.banner_heading }}</h6>
                <h4>{{ .Params.title }}</h4>
                <p>{{ .Params.banner_content }}</p>
                <a href="/contact" class="filled-button">contact us</a>
              </div>
          </div>
        </div>
        {{ end }}
        <!-- // Item -->
      </div>
  </div>
  <!-- Banner Ends Here -->

  <div class="request-form">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h4>Request a call back right now ?</h4>
          <span>Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.</span>
        </div>
        <div class="col-md-4">
          <a href="/contact" class="border-button">Contact Us</a>
        </div>
      </div>
    </div>
  </div>

  <div class="services">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Financial <em>Services</em></h2>
            <span>{{ .Params.services_title }}</span>
          </div>
        </div>
        {{ range first 5 (where .Site.Pages "Type" "service")  }}
        <div class="col-md-4">
          <div class="service-item">
            <img src="{{ .Params.service_image_url }}" alt="img">
            <div class="down-content">
              <h4>{{ .Params.title }}</h4>
              <p>{{ .Params.service_content }}</p>
              <a href="/services" class="filled-button">Read More</a>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>

  <div class="fun-facts">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="left-content">
            <span>{{ .Params.business_title }}</span>
            <h2>{{ .Params.business_subtitle }}</h2>
            <p>{{ .Params.business_content }}</p>
            <a href="" class="filled-button">Read More</a>
          </div>
        </div>
        <div class="col-md-6 align-self-center">
          <div class="row">
            {{ range where .Site.Pages "Type" "business"  }}
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">{{ .Params.count }}</div>
                <div class="count-title">{{ .Params.title }}</div>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="more-info">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="more-info-content">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img src="{{ .Params.adout_image_url }}" alt="{{ .Params.about_title }}">
                </div>
              </div>
              <div class="col-md-6 align-self-center">
                <div class="right-content">
                  <span>{{ .Params.about_title }}</span>
                  <h2>{{ .Params.about_subtitle }}</h2>
                  <p>{{ .Params.about_content1 }}</p>
                  <p>{{ .Params.about_content2 }}</p>
                  <a href="/about" class="filled-button">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>{{ .Params.testimonial_title }}</h2>
            <span>{{ .Params.testimonial_subtitle }}</span>
          </div>
        </div>
        <div class="col-md-12">
          <div class="owl-testimonials owl-carousel">
            {{ range where .Site.Pages "Type" "testimonial"  }}
            <div class="testimonial-item">
              <div class="inner-content">
                <h4>{{ .Params.title }}</h4>
                <span>{{ .Params.testimonial_designation }}</span>
                <p>{{ .Params.testimonial_content }}</p>
              </div>
              <img src="http://placehold.it/60x60" alt="">
            </div>
            {{ end }}
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="callback-form">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Request a <em>call back</em></h2>
            <span>Etiam suscipit ante a odio consequat</span>
          </div>
        </div>
        <div class="col-md-12">
          <div class="contact-form">
            <form id="contact" action="" method="post">
              <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                  </fieldset>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                  </fieldset>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                  <fieldset>
                    <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject" required="">
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="border-button">Send Message</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="partners">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="owl-partners owl-carousel">
            {{ range where .Site.Pages "Type" "client"  }}
            <div class="partner-item">
              <img src="{{ .Params.client_image_url }}" title="1" alt="1">
            </div>
            {{ end }}
            
          </div>
        </div>
      </div>
    </div>
  </div>

{{ end }}

